<!DOCTYPE html>
<html ng-app="mQuiz">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body ng-controller="StateCtrl" class="{{state.device}}">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Quiz!</a>
            <span class="navbar-brand current-user pull-right">
                <a ng-click="logout()">logout</a>
            </span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div ng-if="state.isMobile">
    <div ng-view></div>
</div>

<div class="container" ng-if="!state.isMobile">
    <div ng-view></div>
</div>

<script src="/public/js/app.min.js"></script>
</body>
</html>